.no-jobs-found-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.no-jobs-found-wrapper .not-found-img {
  height: 130px;
  width: 130px;
}

.no-jobs-found-wrapper .no-jobs-found-text {
  font-weight: 400;
}
